<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/4f3cb4e973.js" crossorigin="anonymous"></script>
</head>
<body>

    <header class="header">
        <div class="header__logo">
        <img src="/images/logo-mercado-liebre.svg">
        </div>
            <div class="header__barra-de-busqueda">
                <input type="text" placeholder="Buscar productos, marcas">
            </div>
            <div class="header__barra-de-busqueda-boton">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div class="header__texto">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <div class="header__nav">
                <section class="header__nav__section">
                    <ul class="header__nav__section-uno">
                        <li><a href="">Ofertas</a></li>
                        <li><a href="">Tiendas Oficiales</a></li>
                        <li><a href="">Vender</a></li>
                        <li><a href="">Ayuda</a></li>
                    </ul>
                </section>
                <section class="header__nav__section">
                    <ul class="header__nav__section-dos">
                        <li><a href="">Creá tu cuenta </a><i class="fa-regular fa-id-card"></i></li>
                        <li><a href="">Ingresá </a><i class="fa-sharp fa-solid fa-right-to-bracket"></i></li>
                        <li><a href="">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
                    </ul>
                </section>
            </div>
            <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
    </header>

    <main class="main">
        <section class="main__section">
        <div class="main__banner">
            <img src="/images/img-home-banner.jpg">
        </div>
        <section class="main__productos--ultimavista">
            <h5 class="titulares">Basado en tu última visita</h5>
            <article class="main__producto-visto">
                <img src="/images/img-cafetera-moulinex.jpg">
                <p class="precios">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <strong class="descripciones">Cafetera Moulinex</strong>
            </article>
            <article class="main__producto-visto">
                <img src="/images/img-macbook-pro-2019.jpg">
                <p class="precios">$230.000</p>
                <p class="descuentos">20% off</p>
                <strong class="descripciones">MacBook Pro 2019</strong>
            </article>
            <article class="main__producto-visto">
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <p class="precios">$70.500</p>
                <p class="descuentos">10% off</p>
                <strong class="descripciones">Samsung Galaxy S10</strong>      
            </article>
            <article class="main__producto-visto">
                <img src="/images/img-tv-samsung-smart.jpg">
                <p class="precios">$23.200</p>
                <p class="descuentos">5% off</p>
                <strong class="descripciones">SmartTv Samsung 43"</strong>
            </article>
        </section>

        <section class="main__productos--ofertas">
            <h5 class="titulares">Ofertas</h5>
            <article class="main__producto-oferta">
                <img src="/images/img-cafetera-moulinex.jpg">
                <p class="precios">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <strong class="descripciones">Cafetera Moulinex</strong>
            </article>
            <article class="main__producto-oferta">
                <img src="/images/img-macbook-pro-2019.jpg">
                <p class="precios">$230.000</p>
                <p class="descuentos">20% off</p>
                <strong class="descripciones">MacBook Pro 2019</strong>
            </article>
            <article class="main__producto-oferta">
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <p class="precios">$70.500</p>
                <p class="descuentos">10% off</p>
                <strong class="descripciones">Samsung Galaxy S10</strong>      
            </article>
            <article class="main__producto-oferta">
                <img src="/images/img-tv-samsung-smart.jpg">
                <p class="precios">$23.200</p>
                <p class="descuentos">5% off</p>
                <strong class="descripciones">SmartTv Samsung 43"</strong>
            </article>
        </section>
    </section>
    </main>

    <footer class="footer">
        <section class="footer-texto">
            <div class="footer-iconos">
            <i class="fa-sharp fa-solid fa-credit-card"></i>
            </div>
            <h5 class="footer-texto-subtitulo">Pagá con tarjeta o en efectivo</h5>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="footer-texto">
            <div class="footer-iconos">
            <i class="fa-solid fa-gift"></i>
            </div>
            <h5 class="footer-texto-subtitulo">Envío gratis desde $ 2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="footer-texto">
            <div class="footer-iconos">
            <i class="fa-solid fa-user-shield"></i>
            </div>
            <h5 class="footer-texto-subtitulo">Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </section>
        <section class="footer-texto">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>

</body>
</html>
