*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: var(--tipografia);
    font-size: var(--cuerposDeTexto);
    background-color: var(--colorGrisClaro);
}
a{
    text-decoration: none;
    color:black
}
li{
    list-style: none
}
ul{
    padding: 0;
}
.titulares{
    font-size: var(--titulares);
    color: var(--colorGrisOscuro)
}
.precios{
    font-size: var(--precios);
}
.descuentos{
    font-size: var(--descuentos);
}
.descripciones{
    font-size: var(--descripciones)
}