.header{
    background-color: var(--colorAmarillo);
    padding: 10px;
}
.header__logo{
    width: 50%;
}
.header__barra-de-busqueda{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 7vw;
}
.header__barra-de-busqueda-boton{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 7vw;
}
.header__texto{
    display: flex;
    justify-content: center;
    margin: 4vw 2vw;
}
.header__nav__section{
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.header__burger-menu{
    display:block;
    text-align: center;
    padding: 15px;
    width: 10px;
    justify-content: center;
}
.header__burguer-boton{
    color: #fff;
    background-color: var(--colorCeleste);
    border: none;
    border-radius: 3px;
}
.header__nav{
    display: none;
}

@media (min-width:361px){
    .header__nav{
        display: block;
    }
    .header__burger-menu{
        display: none;
    }
}