.header{
    background-color: var(--colorAmarillo);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.header__logo{
    width: 50%;
}
.header__barra-de-busqueda{
    width: 50%;
    position: relative;
}
.header__barra-de-busqueda input{
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    padding-right: 30px;
}
.header__barra-de-busqueda button{
    position: absolute;
    top: 2px;
    right: 0;
    border: none;
    background-color: white;
    border-left: 1px solid var(--colorGrisOscuro);
    color: var(--colorGrisOscuro);
}
.header__barra-de-busqueda-boton{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 7vw;
}
.header__texto{
    display: flex;
    justify-content: center;
    margin: 4vw 2vw;
}
.header__nav__section{
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.header__burger-menu{
    display:block;
    text-align: center;
    padding: 15px;
    width: 10px;
    justify-content: center;
}
.header__burguer-boton{
    color: #fff;
    background-color: var(--colorCeleste);
    border: none;
    border-radius: 3px;
}
.header__nav{
    display: none;
}
.header__banner img{
        width: 100vw;
}

@media (min-width:361px){
    .header__nav{
        display: block;
    }
    .header__burger-menu{
        display: none;
    }
}