.main{
    width: 90%;
    margin: 0 auto;
}
.main__banner img{
    width: 100%;
}
.main__producto-visto{
    background-color: #fff;
    margin-bottom: 10px;
}
.main__producto-visto img{
    width: 100%;
}
.main__producto-oferta{
    background-color: #fff;
    margin-bottom: 10px;
}
.main__producto-oferta img{
    width: 100%;
}
.main__producto-info{
    border-top: 1px solid var(--colorGrisClaro);
}
.main__producto-icono i{
    border-radius: 50%;
    border: 1px solid var(--colorVerde);
    color: var(--colorVerde);
    padding: 15px;
    font-size: 2em;
}
.descuentos{
    color: var(--colorVerde);
}
.descripciones{
    color: var(--colorGrisOscuro);
    font-weight: 300;
    margin-top: 30px;
    display: none;
}

@media (min-width:361px){
    .descripciones{
        display: block;
    }
    .main__producto-visto{
        box-shadow: 0px 0px 10px rgb(100 100 100);
    }
    
}

@media (min-width:769px){
    
}