.home__main {
    width: 100%;
    background-color: var(--colorGrisClaro);
}

.home__main__section {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
    background-color: var(--colorGrisClaro);
}

.titulares {
    width: 100%;
    margin: 10px 0;
}

.home__main__section__productos--ultimavista {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.home__main__section__productos--ultimavista figure {
    width: 100%;
    background-color: white;
}

.home__main__section__productos--ultimavista img {
    width: 100%;
}

.home__main__section__productos--ofertas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.home__main__section__productos--ofertas figure {
    width: 100%;
    background-color: white;
}

.home__main__section__productos--ofertas img {
    width: 100%;
}

.main__producto-info{
    display:flex;
    border-top: 1px solid var(--colorGrisClaro);
    align-items: flex-end;
    padding: 15px;
}
.main__producto-info .precios{
    width: 30%;
}
.main__producto-info .descuentos{
    width: 30%;
    font-size: 1.0rem;
}
.main__producto-icono{
    position: relative;
}

.main__producto-icono i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: var(--colorVerde);
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: 1s;
}
.main__producto-icono i:hover{
    transform: rotate(-90deg);
}

.descuentos{
    color: var(--colorVerde);
    padding: 2px;
}
.main__producto-info .descripciones{
    color: var(--colorGrisOscuro);
    font-weight: 300;
    margin: 0;
    height: 0px;
    width: 100%;
    transition: all 1s;
    overflow: hidden;
}
.main__producto-info:hover .descripciones{
    height: 50px;
    margin-top: 30px;
} 

.main__producto-price{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main__producto-info{
    display: block;
}


.main__producto-visto:hover{
    box-shadow: 0px 0px 10px rgb(100 100 100);
}
.main__producto-oferta:hover{
    box-shadow: 0px 0px 10px rgb(100 100 100);
}


@media (min-width:361px){
    
    .home__main__section__productos--ultimavista {
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }
    .home__main__section__productos--ultimavista figure {
        width: 45%;
        flex-wrap: wrap;
    }
    
    .home__main__section__productos--ofertas {
        flex-direction: row;
        justify-content: space-between;
    }
    .home__main__section__productos--ofertas figure {
        width: 45%;
        flex-wrap: wrap;
    }
    .main__producto-price{
        display: block;
    }
    }
    

    

@media (min-width:769px){
    
    .home__main__section__productos--ultimavista {
        flex-direction: row;
        justify-content: space-between;
    }
    .home__main__section__productos--ultimavista figure {
        width: 20%;
        flex-wrap: wrap;
    }
    .home__main__section__productos--ofertas {
        flex-direction: row;
        justify-content: space-between;
    }
    .home__main__section__productos--ofertas figure {
        width: 20%;
        flex-wrap: wrap;
    }
    .main__producto-price{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 15px;
    }
    
    
    
}