:root{
    /* colores */
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;

    /* tipografia */
    --tipografia: 'Roboto', sans-serif;

    /* tamaños */
    --cuerposDeTexto: 12px;
    --titulares: 24px;  /*basado en tu ultima visita/ofertas*/
    --precios: 18px;
    --descuentos: 16px;
    --descripciones: 16px;
}
